.my_info_content{
    width: 620px;
    height: 410px;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
}
.my_info_introduce_content{
    display: flex;
    margin-top: 40px;
}
.my_info_title_content{
    width: 200px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.my_info_title{
    width: 120px;
    font-size: 25px;
    font-weight: 200;
}
.my_info_colon{
    width: 40px;
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 25px;
}
.my_info_text{
    width: 380px;
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 400;
}
.my_info_gender_content{
    display: flex;
}
.my_info_age_content{
    display: flex;
}
.my_info_range_content{
    display: flex;
}

@media screen and (max-width:600px) {
    .my_info_content{
        width: 44%;
        height: 200px;
        border: 0.5px solid rgba(0,0,0,0.2);
        border-radius: 10px;
        margin-top: 15px;
    }
    .my_info_introduce_content{
        margin-top: 20px;
    }
    .my_info_title_content{
        width: 35%;
        height: 40px;
    }
    .my_info_title{
        width: 70%;
        font-size: 13px;
    }
    .my_info_colon{
        width: 5%;
        height: 40px;
        font-size: 13px;
    }
    .my_info_text{
        width: 60%;
        height: 40px;
        font-size: 13px;
    }
}

@media screen and (max-width:500px) {
    .my_info_title{
        font-size: 12px;
    }
    .my_info_colon{
        font-size: 12px;
    }
    .my_info_text{
        font-size: 12px;
    }
}

@media screen and (max-width:420px) {
    .my_info_title{
        font-size: 11px;
    }
    .my_info_colon{
        font-size: 11px;
    }
    .my_info_text{
        font-size: 11px;
    }
}

@media screen and (max-width:350px) {
    .my_info_title{
        font-size: 10px;
    }
    .my_info_colon{
        font-size: 10px;
    }
    .my_info_text{
        font-size: 10px;
    }
}
