.header_content{
    width: 100%;
    height: 150px;
    background-color: #3578FF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header_top{
    display: flex;
    padding-top: 10px;
    height: 80px;
}
.header_my{
    width: 400px;
}
.header_my_container{
    width: 50px;
    display: flex;
    justify-content: flex-end;
}
.header_my_content{
    color: #D9E8FF;
    font-size: 27px;
    margin-top: 15px;
    cursor: pointer;
}
.header_title{
    width: 480px;
    text-align: center;
    color: white;
    margin-top: 6px;
    font-size: 24px;
    font-weight: bold;
}
.header_login-signup_content{
    width: 400px;
    display: flex;
    justify-content: flex-end;
}
.login-signup_btn{
    width: 140px;
    height: 35px;
    background-color: white;
    border-radius: 20px;
    color: #3578FF;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center; /* 가로 중앙 배치 */
    padding-top: 5px;   /* 패딩 */
    cursor: pointer;
    margin-top: 6px;
}
.header_join_gap{
    width: 20px;
}
.header_chat_gap{
    width: 20px;
}
.header_chat_content{
    width: 50px;
    margin-top: 12px;
}
.header_chat{
    color: #D9E8FF;
    font-size: 27px;
    cursor: pointer;
}

/* 종류 선택 */
.header_bottom{
    display: flex;
}
.default-btn {
    width: 620px;
    border-radius: 20px;
    height: 25px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding-top: 2px;
}
.check-btn {
    background-color: white;
    color: #3578FF;
}
.none-check-btn {
    background-color: #3578FF;
    color: white;
}


@media screen and (max-width:600px) {
    .header_content{
        height: 90px;
    } 
    .header_top{
        height: 40px;
        width: 100%;
    }
    .header_my{
        width: 27%;
    }

    .header_my_container{
        width: 23px;
    }
    .header_my_content{
        font-size: 15px;
        margin-top: 9px;
    }
    .header_title{
        width: 56%;
        font-size: 15px;
    }
    .header_login-signup_content{
        width: 27%;
    }
    .login-signup_btn{
        width: 40%;
        height: 18px;
        font-size: 9px;
        padding-top: 4px;  
        margin-top: 6px;
    }
    .header_join_gap{
        width: 2%;
    }
    .header_chat_gap{
        width: 2%;
    }
    .header_chat_content{
        width: 16%;
        margin-top: 6px;
    }
    .header_chat{
        color: #D9E8FF;
        font-size: 15px;
    }

    /* 친구 modal창
    .friendModalOpen {
        width: 77px;
        height: 260px;
        border: 0.5px solid #3578FF;
        transform: translateX(-62px) translateY(5px);
        border-radius: 5px;
    }
    .friendModalClose {
        transform: translateX(-62px) translateY(5px);
    }
    .friendModalTop{
        height: 16px;
    }
    .friendModalTopCancel{
        margin-right: 2px;
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: 10px;
    }
    .friendModalPersonContent{
        width: 15px;
        height: 20px;
    }
    .friendModalPerson{
        font-size: 10px;
    }
    .friendModalNameContent{
        width: 51px;
        height: 20px;
    }
    .friendModalName{
        font-size: 6px;
    }
    .friendModalChatContent{
        width: 10px;
        height: 20px;
    }
    .friendModalChat{
        font-size: 8px;
    } */

    .header_bottom{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .default-btn {
        width: 48%;
        height: 20px;
        margin: none;
        font-size: 11px;
    }
}
@media  screen and (max-width:510px){
    .header_title{
        margin-top: 7px;
        font-size: 14px;
    }
    /* 친구 modal창
    .friendModalOpen {
        width: 68px;
        transform: translateX(-53px) translateY(5px);
    }
    .friendModalClose {
        transform: translateX(-53px) translateY(5px);
    }
    .friendModalTop{
        height: 14px;
    }
    .friendModalTopCancel{
        margin-right: 1px;
        margin-top: 0px;
        margin-bottom: 6px;
        font-size: 9px;
    }
    .friendModalPersonContent{
        height: 16px;
    }
    .friendModalPerson{
        font-size: 9px;
    }
    .friendModalNameContent{
        width: 42px;
        height: 16px;
    }
    .friendModalName{
        font-size: 5px;
    }
    .friendModalChatContent{
        height: 16px;
    }
    .friendModalChat{
        font-size: 7px;
    } */
}
@media  screen and (max-width:440px){
    .header_title{
        font-size: 13px;
    }
    /* 친구 modal창
    .friendModalOpen {
        width: 58px;
        transform: translateX(-46px) translateY(5px);
    }
    .friendModalClose {
        transform: translateX(-46px) translateY(5px);
    }
    .friendModalTop{
        height: 12px;
    }
    .friendModalTopCancel{
        margin-right: 1px;
        margin-top: 0px;
        margin-bottom: 7.5px;
        font-size: 7px;
    }
    .friendModalPersonContent{
        width: 14px;
        height: 14px;
    }
    .friendModalPerson{
        font-size: 8px;
    }
    .friendModalNameContent{
        width: 40px;
        height: 14px;
    }
    .friendModalName{
        font-size: 4.5px;
    }
    .friendModalChatContent{
        width: 10px;
        height: 14px;
    }
    .friendModalChat{
        font-size: 6px;
    } */
}
@media  screen and (max-width:400px){
    .header_title{
        margin-top: 8px;
        font-size: 12px;
    }
}
@media  screen and (max-width:370px){
    .header_title{
        margin-top: 9px;
        font-size: 11px;
    }
    /* 친구 modal창
    .friendModalOpen {
        width: 50px;
        transform: translateX(-39px) translateY(5px);
    }
    .friendModalClose {
        transform: translateX(-39px) translateY(5px);
    }
    .friendModalTop{
        height: 10px;
    }
    .friendModalTopCancel{
        margin-right: 0.5px;
        margin-top: 0px;
        margin-bottom: 9px;
        font-size: 6px;
    }
    .friendModalPersonContent{
        width: 14px;
        height: 12px;
    }
    .friendModalPerson{
        font-size: 7px;
    }
    .friendModalNameContent{
        width: 44px;
        height: 12px;
    }
    .friendModalName{
        font-size: 4px;
    }
    .friendModalChatContent{
        width: 10px;
        height: 12px;
    }
    .friendModalChat{
        font-size: 5px;
    } */
}
@media  screen and (max-width:350px){
    .header_title{
        margin-top: 9px;
        font-size: 10px;
    }
}