input[type="radio"] {
  display: none;
  margin: 0px;
}

.radio-label {
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.radio-label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #3578FF;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.radio-label.selected::before {
  background-color: #3578FF;
}
