.front_container{
    width: 100%;
}

/* 카테고리 */
.front_category_container{
    background-color: #3578FF;
    height: 60px;
}
.front_category_content{
    width: 80%;
    height: 50px;
    margin: auto;
    padding-top: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.front_category{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 20px;
}

/* 제목 */
.front_title_content{
    width: 80%;
    margin: auto;
    text-align: center;
}