.my_friend_info-container{
    margin: auto;
    width: 1280px;
}
.my_friend_info_title_container{
    border-bottom: 4px solid black;
}
.my_friend_info_title_content{
    margin-top: 40px;
    padding-bottom: 15px;
}   
.my_friend_info_title{
    font-size: 30px;
    font-weight: bold;
}
.my_friend_info_search_container{
    width: 1280px;
    margin-top: 40px;
    display: flex;
}
.my_friend_info_searh_input{
    width: 500px;
    height: 60px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    background-color: #f4f4f4;
    font-size: 23px;
}
.my_friend_info_searh_input::placeholder{
    color: rgba(0,0,0,0.3);
}
.my_friend_info_searh_input:focus{
    outline: none;
    border-bottom: 2px solid rgba(0,0,0,1);
}
.my_friend_info_search_content{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.my_friend_info_search{
    color: #3578FF;
    font-size: 35px;
}

.my_friend_info_detail_container{
    width: 1280px;
    height: 1000px;
    margin-top: 30px;
}
/* 친구 title 부분 */
.my_friend_info_detail_title_container{
    display: flex;
    height: 70px;
    border-bottom: 1px solid black;
}
.my_friend_info_detail_img_title_container{
    display: flex;
    align-items: center;
    width: 250px;
}
.my_friend_info_detail_username_title_container{
    width: 300px;
    display: flex;
    align-items: center;
}   
.my_friend_info_detail_gender_title_container{
    width: 300px;
    display: flex;
    align-items: center;
}   
.my_friend_info_detail_age_title_container{
    width: 300px;
    display: flex;
    align-items: center;
}   
.my_friend_info_detail_delete_title_container{
    width: 130px;
    display: flex;
    align-items: center;
}
.my_friend_info_detail_title{
    font-weight: bold;
    font-size: 22px;
}

/* 친구 정보 부분 */
.my_friend_info_detail_content{
    width: 1280px;
    height: 150px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.my_friend_info_detail_img_content{
    width: 250px;
}
.my_friend_info_detail_img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: "cover";
}
.my_friend_info_detail_default_img{
    width: 120px;
    height: 120px;
}
.my_friend_info_detail_info_username_content{
    width: 300px;
    display: flex;
    align-items: center;
}
.my_friend_info_detail_info_username{
    font-size: 22px;
}
.my_friend_info_detail_info_gender_content{
    width: 300px;
    display: flex;
    align-items: center;
}
.my_friend_info_detail_info_gender{
    font-size: 22px;
}
.my_friend_info_detail_info_age_content{
    width: 300px;
    display: flex;
    align-items: center;
}
.my_friend_info_detail_info_age{
    font-size: 22px;
}
.my_friend_info_detail_delete_container{
    width: 130px;
    display: flex;
}
.my_friend_info_detail_delete_content{
    width: 100px;
    height: 80px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.my_friend_info_detail_delete{
    font-size: 20px;
    color: rgba(0,0,0,0.5);
    cursor: pointer;
}
.pagination_content{
    margin-top: 20px;
}
.pagination_btn{
    width: 50px;
    height: 50px;
    background-color: #f4f4f4;
    border: 1px solid black;
}
.pagination{
    font-size: 18px;
}
/* .my_friend_info_detail_info_introduce_content{
    display: flex;
    align-items: center;
}
.my_friend_info_detail_info_introduce{
    font-size: 20px;
} */



input[type="text" i] {
    padding-block: 0;
    padding-inline: 0;
}