.my_profile_info-container{
    width: 1280px;
    margin: auto;
}
.my_profile_info_title_content{
    width: 1280px;
    margin-top: 40px;
    padding-bottom: 15px;
    border-bottom: 4px solid black;
}
.my_profile_info_title{
    font-size: 30px;
    font-weight: bold;
    color: black;
}
.my_profile_info_img_content{
    height: 260px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
.my_profile_info_profile_default_male_img{
    width: 150px;
    height: 150px;
    object-fit: "cover";
    color: #3578FF;
}
.my_profile_info_profile_default_female_img{
    width: 150px;
    height: 150px;
    object-fit: "cover";
    color: #FF69B4 ;
}
.my_profile_info_profile_default_unselected_img{
    width: 150px;
    height: 150px;
    object-fit: "cover";
    color: #808080;
}
.my_profile_info_profile_img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: "cover";
}
.my_profile_info_img_change_container{
    margin-left: 30px;
}
.my_profile_info_username{
    font-size: 26px;
    font-weight: bold;
}   
.my_profile_info_img_change-delete_container{
    display: flex;
    margin-top: 10px;
}
.my_profile_info_img_change_content{
    width: 120px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(34, 34, 34, 0.5);
    border-radius: 15px;
    cursor: pointer;
}
.my_profile_info_img_change{
    color: rgba(34, 34, 34, 0.7);
    cursor: pointer;
}
.my_profile_info_img_delete_content{
    width: 60px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(34, 34, 34, 0.5);
    border-radius: 15px;
    cursor: pointer;
    margin-left: 10px;
}
.my_profile_info_img_delete{
    color: rgba(34, 34, 34, 0.7);
    cursor: pointer;
}
.my_profile_info_detail_container{
    margin-top: 60px;
}
.my_profile_info_detail_title_content{
    height: 60px;
}
.my_profile_info_detail_title{
    font-size: 22px;
    font-weight: bold;
}

/* username 부분 */
.my_profile_info_detail_username_title{
    font-size: 20px;
    color: rgba(34, 34, 34, 0.5);
}
.my_profile_info_detail_username_container{
    display: flex;
}
.my_profile_info_detail_username_content{
    height: 50px;
    width: 700px;
    display: flex;
    align-items: center;
}
.my_profile_info_detail_username{
    font-size: 22px;
    font-weight: 400;
}
.my_profile_info_detail_username_change_content{
    height: 50px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 15px;
    cursor: pointer;
}
.my_profile_info_detail_username_change{
    font-size: 18px;
    color: rgba(0,0,0,0.6);
    cursor: pointer;
}
.my_profile_info_detail_username_underline{
    width: 780px;
    height: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

/* username 수정 부분 */
.my_profile_info_detail_username_modify_title{
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.my_profile_info_detail_username_modify_text_container{
    width: 780px;
    height: 50px;
    border: none;
    background-color: #f4f4f4;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    outline: none;
    font-size: 22px;
}
.my_profile_info_detail_username_modify_text_container:focus{
    border: none;
    border-bottom: 3px solid rgba(0,0,0,1);
}
.my_profile_info_detail_username_modify_container{
    width: 780px;
    height: 100px;
    display: flex;
    justify-content: center;
}
.my_profile_info_detail_username_modify_cancel_content{
    width: 145px;
    height: 60px;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
}
.my_profile_info_detail_username_modify_cancel{
    font-size: 20px;
    cursor: pointer;
}
.my_profile_info_detail_username_modify_blank{
    width: 15px;
}
.my_profile_info_detail_username_modify_save_content{
    width: 145px;
    height: 60px;
    border: 1px solid rgba(0,0,0,1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    cursor: pointer;
    margin-top: 20px;
}
.my_profile_info_detail_username_modify_save{
    font-size: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* introude 부분 */
.my_profile_info_detail_introuduce_title_content{
    padding-top: 30px;
}
.my_profile_info_detail_introduce_title{
    font-size: 20px;
    color: rgba(34, 34, 34, 0.5);
}
.my_profile_info_detail_introduce_container{
    display: flex;
}
.my_profile_info_detail_introduce_content{
    height: 50px;
    width: 700px;
    display: flex;
    align-items: center;
}
.my_profile_info_detail_introduce{
    font-size: 22px;
    color: rgba(34, 34, 34, 0.5);
}
.my_profile_info_detail_introduce_change_content{
    height: 50px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 15px;
    cursor: pointer;
}
.my_profile_info_detail_introduce_change{
    font-size: 18px;
    color: rgba(0,0,0,0.6);
    cursor: pointer;
}
.my_profile_info_detail_introduce_underline{
    width: 780px;
    height: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

/* introudce 수정 부분 */
.my_profile_info_detail_introduce_modify_title{
    font-size: 22px;
    color: black;
    font-weight: bold;
}
.my_profile_info_detail_introduce_modify_text_container{
    width: 780px;
    height: 50px;
    border: none;
    background-color: #f4f4f4;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    outline: none;
    font-size: 22px;
}
.my_profile_info_detail_introduce_modify_text_container:focus{
    border: none;
    border-bottom: 3px solid rgba(0,0,0,1);
}
.my_profile_info_detail_introduce_modify_container{
    width: 780px;
    height: 100px;
    display: flex;
    justify-content: center;
}
.my_profile_info_detail_introduce_modify_cancel_content{
    width: 145px;
    height: 60px;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
}
.my_profile_info_detail_introduce_modify_cancel{
    font-size: 20px;
    cursor: pointer;
}
.my_profile_info_detail_introduce_modify_blank{
    width: 15px;
}
.my_profile_info_detail_introduce_modify_save_content{
    width: 145px;
    height: 60px;
    border: 1px solid rgba(0,0,0,1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    cursor: pointer;
    margin-top: 20px;
}
.my_profile_info_detail_introduce_modify_save{
    font-size: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* gender 부분 */
.my_profile_info_detail_gender_title_content{
    width: 1280px;
    padding-top: 30px;
}
.my_profile_info_detail_gender_title{
    font-size: 20px;
    color: rgba(34, 34, 34, 0.5);
}
.my_profile_info_detail_gender_container{
    width: 1280px;
    height: 50px;
    display: flex;
}
.my_profile_info_detail_gender_content{
    display: flex;
    width: 700px;
}
.my_profile_info_detail_gender_label {
    cursor: pointer;
    font-size: 22px;
    display: flex; /* Flexbox로 변경 */
    align-items: center;
    gap: 10px;
}
.my_profile_info_detail_gender_label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 50%;
    transition: background-color 0.3s ease;
}
.my_profile_info_detail_gender_label.maleSelected::before {
    background-color: #3578FF;
}
.my_profile_info_detail_gender_label.femaleSelected::before {
    background-color: #FF69B4 ;
}
.my_profile_info_detail_gender_label.unselectedSelected::before {
    background-color: #808080 ;
}
.my_profile_info_detail_gender_label_blank{
    width: 20px;
}
.my_profile_info_detail_gender_save_content{
    width: 80px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 15px;
    cursor: pointer;
}
.my_profile_info_detail_gender_save{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}
.my_profile_info_detail_gender_underline{
    width: 780px;
    height: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

/* age 부분 */
.my_profile_info_detail_age_title_content{
    width: 1280px;
    padding-top: 30px;
}
.my_profile_info_detail_age_title{
    font-size: 20px;
    color: rgba(34, 34, 34, 0.5);
}
.my_profile_info_detail_age_container{
    width: 1280px;
    height: 50px;
    display: flex;
}
.my_profile_info_detail_age_content{
    display: flex;
    width: 700px;
}
.my_profile_info_detail_age_label {
    cursor: pointer;
    font-size: 22px;
    display: flex; /* Flexbox로 변경 */
    align-items: center;
    gap: 10px;
}
.my_profile_info_detail_age_label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 50%;
    transition: background-color 0.3s ease;
}
.my_profile_info_detail_age_label.selected::before {
    background-color: black ;
}
.my_profile_info_detail_age_label_blank{
    width: 20px;
}
.my_profile_info_detail_age_save_content{
    width: 80px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 15px;
    cursor: pointer;
}
.my_profile_info_detail_age_save{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}
.my_profile_info_detail_age_underline{
    width: 780px;
    height: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}


/* 공개범위 부분 */
.my_profile_info_detail_range_container{
    height: 200px;  
    width: 1280px;
    margin-top: 60px;
}
.my_profile_info_detail_range_title_content{
    height: 60px;
}
.my_profile_info_detail_range_title{
    font-size: 22px;
    font-weight: bold;
}
.my_profile_info_detail_range_name_container{
    height: 50px;
    display: flex;
    align-items: center;
}
.my_profile_info_detail_range_name_content{
    width: 700px;
}
.my_profile_info_detail_range_name{
    font-size: 22px;
}

/* 공개범위 버튼 */
.range-switch {
    width: 80px;
    height: 50px;
    background-color: #e4e4e4;
    border-radius: 30px;
    /* relative때문에 z-index가 안먹힘 */
    position: relative;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.4, 0, .2, 1);
}
.range-switch.private {
    background-color: black;
}
.range-circle {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all 0.3s cubic-bezier(.4, 0, .2, 1);
}
.range-switch.private .range-circle {
    left: 31px;
}


@media screen and (max-width:600px){
    .my_profile_info-container{
        width: 100%;
        
    }
    .my_profile_info_title_content{
        width: 90%;
        margin-top: 18px;
        margin-left: 3%;
        padding-bottom: 8px;
        border-bottom: 2px solid black;
    }
    .my_profile_info_title{
        font-size: 15px;
    }
    .my_profile_info_img_content{
        height: 120px;
        width: 90%;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        margin-left: 3%;
    }
    .my_profile_info_profile_default_male_img{
        width: 85px;
        height: 85px;
    }
    .my_profile_info_profile_default_female_img{
        width: 85px;
        height: 85px;
    }
    .my_profile_info_profile_default_unselected_img{
        width: 85px;
        height: 85px;
    }
    .my_profile_info_profile_img{
        width: 85px;
        height: 85px;
    }
    .my_profile_info_img_change_container{
        margin-left: 15px;
    }
    .my_profile_info_username{
        font-size: 15px;
    }   
    .my_profile_info_img_change-delete_container{
        margin-top: 4px;
    }
    .my_profile_info_img_change_content{
        width: 80px;
        height: 25px;
        border: 1px solid rgba(34, 34, 34, 0.3);
        border-radius: 10px;
    }
    .my_profile_info_img_change{
        font-size: 10px;
    }
    .my_profile_info_img_delete_content{
        width: 45px;
        height: 25px;
        border: 1px solid rgba(34, 34, 34, 0.3);
        border-radius: 10px;
        margin-left: 5px;
    }
    .my_profile_info_img_delete{
        font-size: 10px;
    }
    .my_profile_info_detail_container{
        margin-top: 28px;
        margin-left: 3%;
    }
    .my_profile_info_detail_title_content{
        height: 28px;
    }
    .my_profile_info_detail_title{
        font-size: 12px;
    }

    /* username 부분 */
    .my_profile_info_detail_username_title{
        font-size: 12px;
    }
    .my_profile_info_detail_username_content{
        height: 25px;
        width: 51%;
    }
    .my_profile_info_detail_username{
        font-size: 12px;
    }
    .my_profile_info_detail_username_change_content{
        height: 25px;
        width: 9%;
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 10px;
    }
    .my_profile_info_detail_username_change{
        font-size: 10px;
    }
    .my_profile_info_detail_username_underline{
        width: 60%;
        height: 10px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    /* username 수정 부분 */
    .my_profile_info_detail_username_modify_title{
        font-size: 12px;
    }
    .my_profile_info_detail_username_modify_text_container{
        width: 60%;
        height: 25px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        font-size: 12px;
    }
    .my_profile_info_detail_username_modify_text_container:focus{
        border-bottom: 1.5px solid rgba(0,0,0,1);
    }
    .my_profile_info_detail_username_modify_container{
        width: 60%;
        height: 45px;
    }
    .my_profile_info_detail_username_modify_cancel_content{
        width: 20%;
        height: 30px;
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 10px;
        margin-top: 10px;
    }
    .my_profile_info_detail_username_modify_cancel{
        font-size: 12px;
    }
    .my_profile_info_detail_username_modify_blank{
        width: 2%;
    }
    .my_profile_info_detail_username_modify_save_content{
        width: 20%;
        height: 30px;
        border-radius: 10px;
        margin-top: 10px;
    }
    .my_profile_info_detail_username_modify_save{
        font-size: 12px;
    }

    /* introude 부분 */
    .my_profile_info_detail_introuduce_title_content{
        padding-top: 10px;
    }
    .my_profile_info_detail_introduce_title{
        font-size: 12px;
    }
    .my_profile_info_detail_introduce_content{
        height: 25px;
        width: 51%;
    }
    .my_profile_info_detail_introduce{
        font-size: 12px;
    }
    .my_profile_info_detail_introduce_change_content{
        height: 25px;
        width: 9%;
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 10px;
    }
    .my_profile_info_detail_introduce_change{
        font-size: 10px;
    }
    .my_profile_info_detail_introduce_underline{
        width: 60%;
        height: 10px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    /* introudce 수정 부분 */
    .my_profile_info_detail_introduce_modify_title{
        font-size: 12px;
    }
    .my_profile_info_detail_introduce_modify_text_container{
        width: 60%;
        height: 25px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        font-size: 12px;
    }
    .my_profile_info_detail_introduce_modify_text_container:focus{
        border-bottom: 1.5px solid rgba(0,0,0,1);
    }
    .my_profile_info_detail_introduce_modify_container{
        width: 60%;
        height: 45px;
    }
    .my_profile_info_detail_introduce_modify_cancel_content{
        width: 20%;
        height: 30px;
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 10px;
        margin-top: 10px;
    }
    .my_profile_info_detail_introduce_modify_cancel{
        font-size: 12px;
    }
    .my_profile_info_detail_introduce_modify_blank{
        width: 2%;
    }
    .my_profile_info_detail_introduce_modify_save_content{
        width: 20%;
        height: 30px;
        border-radius: 10px;
        margin-top: 10px;
    }
    .my_profile_info_detail_introduce_modify_save{
        font-size: 12px;
    }

    /* gender 부분 */
    .my_profile_info_detail_gender_title_content{
        width: 100%;
        padding-top: 10px;
    }
    .my_profile_info_detail_gender_title{
        font-size: 12px;
    }
    .my_profile_info_detail_gender_container{
        width: 100%;
        height: 27px;
    }
    .my_profile_info_detail_gender_content{
        width: 51%;
        height: 25px;
    }
    .my_profile_info_detail_gender_label {
        font-size: 12px;
        gap: 4px;
        height: 25px;
    }
    .my_profile_info_detail_gender_label::before {
        width: 10px;
        height: 10px;
    }
    .my_profile_info_detail_gender_label_blank{
        width: 8px;
    }
    .my_profile_info_detail_gender_save_content{
        width: 9%;
        height: 25px;
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 10px;
    }
    .my_profile_info_detail_gender_save{
        font-size: 10px;
    }
    .my_profile_info_detail_gender_underline{
        width: 60%;
        height: 10px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    /* age 부분 */
    .my_profile_info_detail_age_title_content{
        width: 100%;
        padding-top: 10px;
    }
    .my_profile_info_detail_age_title{
        font-size: 12px;
    }
    .my_profile_info_detail_age_container{
        width: 100%;
        height: 27px;
    }
    .my_profile_info_detail_age_content{
        width: 51%;
        height: 25px;
    }
    .my_profile_info_detail_age_label {
        font-size: 8px;
        gap: 3px;
        height: 25px;
    }
    .my_profile_info_detail_age_label::before {
        width: 8px;
        height: 8px;
    }
    .my_profile_info_detail_age_label_blank{
        width: 6px;
    }
    .my_profile_info_detail_age_save_content{
        width: 9%;
        height: 25px;
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 10px;
    }
    .my_profile_info_detail_age_save{
        font-size: 10px;
    }
    .my_profile_info_detail_age_underline{
        width: 60%;
        height: 10px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    /* 공개범위 부분 */
    .my_profile_info_detail_range_container{
        width: 100%;
        height: 90px;  
        margin-top: 20px;
    }
    .my_profile_info_detail_range_title_content{
        width: 100%;
        height: 27px;
    }
    .my_profile_info_detail_range_title{
        font-size: 12px;
    }
    .my_profile_info_detail_range_name_container{
        height: 27px;
    }
    .my_profile_info_detail_range_name_content{
        width: 51%;
    }
    .my_profile_info_detail_range_name{
        font-size: 12px;
    }

    /* 공개범위 버튼 */
    .range-switch {
        width: 9%;
        height: 100%;
        border-radius: 20px;
    }
    .range-circle {
        width: 50%;
        height: 100%;
    }
    .range-switch.private .range-circle {
        left: 51%;
    }
}

@media  screen and (max-width:510px){
    /* username 부분 */
    .my_profile_info_detail_username_change_content{
        height: 24px;
        border-radius: 9px;
    }
    .my_profile_info_detail_username_change{
        font-size: 9px;
    }
    
    /* introuduce 부분 */
    .my_profile_info_detail_introduce_change_content{
        height: 24px;
        border-radius: 9px;
    }
    .my_profile_info_detail_introduce_change{
        font-size: 9px;
    }

    /* gender 부분 */
    .my_profile_info_detail_gender_save_content{
        height: 24px;
        border-radius: 9px;
    }
    .my_profile_info_detail_gender_save{
        font-size: 9px;
    }

    /* age 부분 */
    .my_profile_info_detail_age_label {
        font-size: 6.5px;
        gap: 2px;
    }
    .my_profile_info_detail_age_label::before {
        width: 7px;
        height: 7px;
    }
    .my_profile_info_detail_age_save_content{
        height: 24px;
        border-radius: 9px;
    }
    .my_profile_info_detail_age_save{
        font-size: 9px;
    }

    /* 범위 부분 */
    .range-switch {
        height: 90%;
    }
}

@media  screen and (max-width:440px){
    /* username 부분 */
    .my_profile_info_detail_username_change_content{
        height: 23px;
    }
    .my_profile_info_detail_username_change{
        font-size: 8px;
    }

    /* username 수정 부분 */
    .my_profile_info_detail_username_modify_cancel_content{
        height: 25px;
        border-radius: 8px;
    }
    .my_profile_info_detail_username_modify_cancel{
        font-size: 10px;
    }
    .my_profile_info_detail_username_modify_save_content{
        height: 25px;
        border-radius: 8px;
    }
    .my_profile_info_detail_username_modify_save{
        font-size: 10px;
    }

    /* introuduce 부분 */
    .my_profile_info_detail_introduce_change_content{
        height: 23px;
    }
    .my_profile_info_detail_introduce_change{
        font-size: 8px;
    }

    /* introduce 수정 부분 */
    .my_profile_info_detail_introduce_modify_cancel_content{
        height: 25px;
        border-radius: 8px;
    }
    .my_profile_info_detail_introduce_modify_cancel{
        font-size: 10px;
    }
    .my_profile_info_detail_introduce_modify_save_content{
        height: 25px;
        border-radius: 8px;
    }
    .my_profile_info_detail_introduce_modify_save{
        font-size: 10px;
    }

    /* gender 부분 */
    .my_profile_info_detail_gender_content{
        width: 51%;
        height: 25px;
    }
    .my_profile_info_detail_gender_label {
        font-size: 10px;
        gap: 4px;
        height: 25px;
    }
    .my_profile_info_detail_gender_label::before {
        width: 8px;
        height: 8px;
    }
    .my_profile_info_detail_gender_label_blank{
        width: 7px;
    }
    .my_profile_info_detail_gender_save_content{
        height: 23px;
    }
    .my_profile_info_detail_gender_save{
        font-size: 8px;
    }

    /* age 부분 */
    .my_profile_info_detail_age_label {
        font-size: 7px;
        gap: 1px;
    }
    .my_profile_info_detail_age_label::before {
        width: 5.5px;
        height: 5.5px;
    }
    .my_profile_info_detail_age_save_content{
        height: 23px;
    }
    .my_profile_info_detail_age_save{
        font-size: 8px;
    }

    /* 범위 부분 */
    .range-switch {
        height: 80%;
    }
}

@media screen and (max-width:420px) {
        /* age 부분 */
        .my_profile_info_detail_age_label {
            font-size: 6px;
            gap: 1px;
        }
        .my_profile_info_detail_age_label::before {
            width: 5.5px;
            height: 5.5px;
        }
}

@media screen and (max-width:380px) {
    /* age 부분 */
    .my_profile_info_detail_age_label {
        font-size: 5.5px;
        gap: 0.5px;
    }
    .my_profile_info_detail_age_label::before {
        width: 5px;
        height: 5px;
    }
}

@media  screen and (max-width:350px){
    /* username 부분 */
    .my_profile_info_detail_username_change_content{
        height: 21px;
    }
    .my_profile_info_detail_username_change{
        font-size: 7px;
    }

    /* introuduce 부분 */
    .my_profile_info_detail_introduce_change_content{
        height: 21px;
    }
    .my_profile_info_detail_introduce_change{
        font-size: 7px;
    }

    /* gender 부분 */
     .my_profile_info_detail_gender_save_content{
        height: 21px;
    }
    .my_profile_info_detail_gender_save{
        font-size: 7px;
    }

    /* age 부분 */
    .my_profile_info_detail_age_save_content{
        height: 21px;
    }
    .my_profile_info_detail_age_save{
        font-size: 7px;
    }

    /* 범위 부분 */
    .range-switch {
        height: 70%;
    }
}


/* input(text) 기본 padding값 삭제 */
input[type="text" i] {
    padding-block: 0;
    padding-inline: 0;
}
/* input(radio) 기본 diplay 삭제 */
input[type="radio" i] {
    display: none;
}